body{
	font-family: "century gothic, verdana", sans-serif;
	color:#000000;
	font-size:12px;
}
#dr{
	padding-left:20px;
	
}
p{
	padding-right:10px;
	padding-left:10px;
}
.jap{
	text-align: right;
	padding-top:5px;
	padding-right:10px;
}
.head{
	width: 100%;
	background-color:#000000;
	color:#FFFFFF;
	height: 30px;
}
#logo{
	padding-left: 30px;
}
.containa{
    margin-right: 100px;
    margin-left: 100px;
    border:1px solid #000000;
 
}
.menu{
    background-color: #000000;
    margin-top:5px;
	height: 50px;
	margin-left:auto;
	margin-right:auto;
	font-size: 15px;
	/*padding-top: 5px;*/
	padding-right:25px;
	padding-left:25px;
}
table{
	padding:10px;
	text-align: center;
}
td{
	padding-left:10px;
    padding-right: 10px;
	font-size:15px;
	text-align: center;
}
.pic{
    margin-top: 5px;
    height:  150px;
    background-image: url("/#.jpg");
    background-color:#000000;
}
 
.contents{
 
}
 
.leftColum{
    background-color:#000000;
    color:#ffffff;
    float: left;
    margin-top:5px;
    min-width : 250px;
    min-height: 700px;
    border-right:1px solid #000000;
}
.rightColum{
    background-color:#FFFFFF;
    margin-top: 5px;
    margin-left: 255px;
    color:#000000;
    min-height: 700px;
    border-top:1px solid #000000;
    border-left:1px solid #000000;
}
h5{
    text-align: right;
}
h3{
    height:35px;
    background-color:#000000;
    padding-top: 15px;
    color:#ffffff;
    padding-left: 15px;
}
object{
	padding-left:30px;
}
h4{
    height:30px;
    padding-top: 10px;
    background-color:#ffffff;
    color:#000000;
    padding-left:15px;
}
#colum
{
    margin-left: auto;
    margin-right: auto;
    background-color:#FFFFFF;
    color: #000000;
}
/*
.centerColum{
    background-color:#000000;
    margin-top: 5px;
    margin-left: 255px;
    margin-right: 155px;*/
  /*  color:#ffffff;
    padding-left: 170px;
    width : 370px;
    height: 1000px;
}*/
.footer{
    border-top:1px solid #000000;
    height:30px;
    background-color:#FFFFFF;
    font-size: 10px;
    color:#000000;
    text-align:center;   
}
.doc{
    padding-left:10px;
    padding-right:10px;
}

a:link, a:active {
color : #999999;
font-weight: bold;
text-decoration : none;
}
a:hover {
background-color:#ffffff;
color: #999999;
font-weight: bold;
text-decoration : underline;
}
a:visited {
color : #999999;
font-weight: bold;
text-decoration : none;
}

/*############################################################################
  # Facebook Like botton                                                     #
  ##########################################################################*/

.connect_widget_vertical_center, 
.comment_body { 
display: none; 
} 
 
.connect_widget_button_cell { 
display: block; 
} 
 
.connect_widget_interactive_area .connect_widget_button_cell a { 
background: url(http://finite/path/to/like_button.jpg) no-repeat; 
border: none; display: block; height: 22px; 
overflow: hidden; 
padding: 0; 
width: 59px; 
} 
 
.connect_widget_interactive_area .connect_widget_button_cell a span { display: none; } 
 
/* Remove unnecessary border radius */
.connect_widget_interactive_area .connect_widget_button_cell a { 
-moz-border-radius: 0; 
-webkit-border-radius: 0; 
border-radius: 0; 
}
